/* Fonts */
@font-face {
	font-family: 'Abordage';
	font-weight: 100;
	src: url('./fonts/Abordage-Regular.otf');
	src: url('./fonts/Abordage-Regular.woff');
	src: url('./fonts/Abordage-Regular.woff2');
}

@font-face {
	font-family: 'Khmer';
	font-weight: 100;
	src: url('../fonts/khmer-mn-webfont.woff');
	src: url('../fonts/khmer-mn-webfont.woff2');

}

/* Global styles */
body {
	font-family: 'Abordage', 'Trebuchet MS', 'Lucida Sans Unicode',
		'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.5;
	color: #edfffa;
	background-color: #4a9f95;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3 {
  font-weight: 300;
}

.container {
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
}	

.button {
	font-family: 'Khmer', 'Taviraj', 'sans-serif';
	-webkit-font-smoothing: antialiased;
	font-size: 22px;
	font-weight: 300;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	border: solid 2px;
	border-radius: 0%;
	background-color: inherit;
	color: inherit;
	transition: all 0.2s ease;
}

.button:hover {
	cursor: pointer;
	background-color: #147d5e;
	border-color: inherit;
	color: #edfffa;
}
	
.social-links-footer img:hover,
.social-links-small-menu img:hover {
	filter: brightness(75%);
}

/* Header styles */

.site-header {
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #4a9f95;
}

.header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
  font-family: 'Khmer';
}

.events-header {
	background-color: #147d5e;
}

.contact-header {
	background-color: #E7EEDE;
}

.logo-container {
	display: flex;
	width: 30%;
	align-items: center;
}

.logo {
	width: 100%;
	margin-right: 5px;
}

.site-menu ul {
	display: flex;
	list-style: none;
	margin: 0;
	z-index: 5 !important;
}

.site-menu li a {
	margin-left: 20px;
	font-family: 'Khmer', 'Lora', sans-serif;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	font-size: 1.5rem;
	transition: all 0.5s ease;
}

.site-menu li a:hover {
	color: #226c53;
	border-bottom: #226c53 solid 1px;
}

.site-menu-contact li a {
	color: #226c53;
	transition: all 0.5s ease;
}

.site-menu-contact li a:hover {
	color: #329f7b;
	border-bottom: #329f7b solid 1px;
}


.site-menu-small {
  transform: translateX(-100%);
  transition: transform 0.5 ease;
	height: 100vh;
	width: 100vw;
  position: fixed;
	display: block;
	top: 0;
	left: 0;
  background-color: #A4DFC3;
	transition: all 0.5s ease;
	overflow: hidden;
}

.site-menu-small ul {
	display: block;
	position: absolute;
	top: 190px;
	right: 45px;
	color: #147d5e;
	text-align: right;
}

.site-menu-small ul li a {
	font-size: 26px;
	line-height: 2;
}

.social-links-small-menu {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 381px;
	right: 45px;
	width: 70px;
}

.social-links-small-menu img {
	height: 30px;
	transition: all 0.5s ease;
}

.hamburger-menu, .logo {
	z-index: 3;
}

.open {
  transform: translateX(-0%);
  z-index: 2 !important;
	transition: all 0.5s ease;
}

.greenify {
	filter: invert(80%) sepia(82%) saturate(1152%) hue-rotate(116deg) brightness(65%) contrast(70%);
	transition: all 0.8s ease;
}

.darkgreenify {
	filter: invert(64%) sepia(50%) saturate(2667%) hue-rotate(115deg) brightness(33%) contrast(80%);
	transition: all 0.8s ease;
}

.disable-scroll {
	overflow: hidden;
}


/* Hero styles */

.hero-section {
	background-color: #4a9f95;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 80px;
	font-size: 30px;
}

.hero-image-wrapper {
	display: flex;
	justify-content: center;
}
.hero-image {
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.tagline {
	font-size: 36px;
	width: 55%;
	line-height: 1.4;
	margin-bottom: 50px;
}

.contact-button {
	padding-left: 25px;
	padding-right: 25px;
	margin-right: 20px;
}

/* Coming Up Styles */

.coming-up-section {
	background-color: #157d5e;
	padding-top: 20px;
	font-family: 'Khmer', 'Taviraj', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.coming-up-title-and-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0px 40px 0px;
	padding-bottom: 30px;
	border-bottom:#edfffa solid 1px;
}

.coming-up-title-and-button h2 {
	margin-block-start: 0%;
	margin-block-end: 0%;
	font-size: 30px;
	padding-top: 12px;
}

.coming-up-title-and-button .button:hover {
	background-color:#226c53;
}

.event-thumbnail-loop {
	padding-bottom: 50px;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
	-webkit-column-span: all;
	column-span: all;
}

.event-thumbnail-wrapper {
	position: relative;
	margin-bottom: 1em;

	/* border: #edfffa solid 3px; */
}

.event-thumbnail-image {
	max-width: 100%;
	display: flex;
}

.event-thumbnail-date-and-title {
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	flex-wrap: wrap;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0px 20px 0px 20px;
	opacity: 1;
	transition: all 0.5s ease;
	z-index: 1;
	font-size: 16px;
	color:#edfffa;
}

.event-thumbnail-date-and-title:hover {
	display: flex;
	background-color: rgb(46, 90, 64, 0.6);
	opacity: 1;
}

.event-thumbnail-date-and-title:hover .find-out-more {
	display: flex;
	opacity: 1;
	transition: all 0.5s ease;
	flex-wrap: wrap;
	flex-basis: 100%;
}

.find-out-more {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	opacity: 0;
	width: 100%;
}

.find-out-more h3 {
	padding-top: 6px;
	margin-left: 10px;
}

.find-out-more img {
	width: 30px;
}

.event-thumbnail-date-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}

.start-date-wrapper {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

/* Join us styles */

.join-us-section {
	background-color: #147d5e;
	padding-top: 2px;
	padding-bottom: 80px;
	color: #2f622f;
}

.join-us-wrapper {
	text-align: center;
	background-color: #f5f8df;
	font-size: 20px;
	line-height: 1.5;
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	border: #2f622f solid 4px;
}

.join-us-wrapper button:hover,
.wpcf7-form .button:hover {
	border: #147d5e solid 4px;
}

.join-the-newsletter {
	color: #2f622f;
	font-size: 33px;
	width: 100%;
	padding-bottom: 20px;
	border-bottom: #35704e solid 2px;
}

.join-bristol-libraries-wrapper button:hover {
	border: #147d5e 2px solid;
}

.join-newsletter-wrapper {
	max-width: 50%;
	padding-right: 30px;
	font-size: 20px;
}

.join-newsletter-wrapper input {
	width: 90%;
	font-family: 'Khmer', 'Tamiraj', serif;
	-webkit-font-smoothing: antialiased;
	font-size: 25px;
	color: #35704e;
	background-color: inherit;
	padding: 15px;
	margin-bottom: 10px;
	border: #2f622f solid 4px;
}

.join-newsletter-wrapper input:focus{
	border-color: #be9519;
	outline: none;
}

.wpcf7-form .input:focus {
	outline: none;
}

#mce-FNAME, #mce-EMAIL {
	color: #147d5e;
}

.newsletter-submit-button {
	width: 50% !important;
	padding-top: 20px !important;
}

.newsletter-submit-button:hover {
	cursor: pointer;
	border-color: #147d5e;
}

.join-bristol-libraries-wrapper {
	max-width: 50%;
	display: flex;
	flex-wrap: wrap;
	padding-left: 10px;
}

/* Insta stream Styles */

.insta-stream-section {
	background-color: #147d5e;
}

.sb_instagram_header {
	display: none;
}

#sb_instagram #sbi_load  {
	opacity: 0;
}

/* Contact section Styles */

.page-id-92 {
	background-color: #E6EFDE;
}

.contact-page-section {
	background-color: #E7EEDE;
	padding-top: 30px;
	color: #147d5e;
}

.contact-page-section .join-us-section {
	background-color: #E7EEDE;
}

.contact-footer {
	background-color: #E7EEDE;
	font-family: 'Khmer', 'Taviraj', serif;
	-webkit-font-smoothing: antialiased;
	color: #147d5e;
	padding-top: 30px;
	padding-bottom: 10px;
}

.contact-footer h3 {
	font-size: 22px;
}

.contact-wrapper {
	max-width: 80%;
	font-family: 'Khmer', 'Taviraj', serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 100;
	font-size: 20px;
	padding-bottom: 25px;
}

.contact-wrapper-text {
	max-width: 90%;
	margin-bottom: 50px;
}
.wpcf7-form {
margin-top: 70px;
}

.wpcf7-form .input,
textarea {	
	display: block;
	width: 100%;
	font-family: 'Khmer', 'Taviraj', serif;
	-webkit-font-smoothing: antialiased;
	font-size: 25px;
	color: #147d5e;
	background-color: #ddf6e34e;
	padding: 15px;
	margin-bottom: 30px;
	margin-right: 0;
	border: #147d5e solid 4px;
}

input[type="text"]:focus,
input[type="email"]:focus {
	color: #147d5e;
}

.wpcf7-form .input:focus-visible,
.wpcf7-form .textarea:focus-visible,
.wpcf7-form .input:active,
.wpcf7-form .textarea:active {
	border-color: #be9519;
}

.wpcf7-form .input:focus {
	outline: none;
}

.submit-send-button {
	font-family: 'Khmer', 'Taviraj', serif;
	font-size: 22px;
	font-weight: 400;
	padding: 16px 15px 10px 15px;
	border: #147d5e solid 4px;
	border-radius: 0%;
	background-color: #ddf6e34e;
}

.form-message {
	height: 200px;
	display: flex;
}

.wpcf7-response-output {
	padding: 0.6em 1em;
	border: 2px solid #147d5e;
	border-color: #147d5e;
}

.wpcf7-not-valid-tip {
	color: #c29a22;
	font-size: 0.8em;
	font-weight: normal;
	display: block;
}

.wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output, 
.wpcf7 form.unaccepted.wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output {
	margin: 0;
	border: none;
	padding: 0;
}  

/* Events Page styles */

.page-id-90 {
	background-color: #147d5e;
}

.events-section {
	background-color: #147d5e;
	padding-top: 20px;
}

html { 
	scroll-behavior: smooth; 
}

.scroll-top {
	scroll-margin-top: 20px;
}

.event-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Khmer', 'Taviraj', serif;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	padding-bottom: 100px;
}

.event-header-wrapper {
  font-weight: 200;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size: 24px;
  line-height: 1.1;
	padding-bottom: 10px;
  border-bottom: #edfffa solid 1px;
}

.event-title {
	min-width: 100%;
	margin-block-end: 0.3em !important;
}

.event-date-wrapper, .event-location-wrapper, .event-contact-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.event-icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.event-summary {
  font-size: 20px;
  font-weight: 300;
  color:#edfffa;
  padding-bottom: 20px;
}

.event-date, .event-location, .event-contact {
	font-size: 22px;
	padding-top: 7px;
}

.event-image-wrapper {
	max-width: 100%;
}

.event-image-wrapper img {
	object-fit: cover;
	max-height: 650px;
}

.event-description-wrapper {
	max-width: 100%;
	padding-bottom: 30px;
  font-size: 20px;
  text-align: justify;
}

/* Footer styles */

.site-footer {
	background-color: #E7EEDE;
	color: #147d5e;
	padding-bottom: 10px;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
}

.social-links-footer {
	display: flex;
	align-items: end;
}

.social-links-footer img {
	width: 30px;
}

.social-links-footer img:first-child {
	margin-right: 10px;
}

.overscroll-footer {
	height: 300px !important;
	position: absolute !important;
	padding-bottom: 400px !important;
	background-color: #E6EFDE !important;
}

/* Responsive Styles */

@media(max-width:1385px) {
	
	.event-location-wrapper,
	.event-date-wrapper,
	.event-contact-wrapper {
		flex-basis: 100%;
		justify-content: flex-start;
	}

	.event-thumbnail-date, .event-thumbnail-title {
		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
		font-size: 15px;
	}
}

@media(max-width:1000px) {

	.container {
		width: 90vw;
		padding-left: 30px;
		padding-right: 30px;
	}

	.site-menu li a {
		font-size: 1rem;
	}

	.tagline {
		font-size: 30px;
		width: 90%;
	}
	
	.coming-up-title-and-button {
		margin: 30px 0px 40px 0px;
		font-family: 'Khmer', 'Taviraj', sans-serif;
		-webkit-font-smoothing: antialiased;
	}

	.event-thumbnail-date-and-title {
		align-content: flex-end;
		position: relative;
		padding: 0px;
		background-color: rgb(20, 125, 94, 0);
		opacity: 1;
		font-size: 14px;
	}

	.event-thumbnail-title {
		margin-right: 10px;
	}

	.event-title {
		font-size: 22px;
	}

	.event-summary, .event-description {
		font-size: 16px;
	}

	.event-date, .event-location, .event-contact {
		font-size: 16px;
	}
}

@media(max-width:950px) {

	.join-us-wrapper {
		justify-content: center;
	}

	.join-newsletter-wrapper,
	.join-bristol-libraries-wrapper {
		max-width: 100%;
		margin-bottom: 70px;
		font-size: 18px;
		line-height: 1.8;
		padding-right: 0px;
		padding-left: 0px;
	}
}

@media (max-width: 830px) {

	.event-thumbnail-loop {
		-moz-column-gap: 1.5em;
		-webkit-column-gap: 1.5em;
		column-gap: 1.5em;
	}

	.coming-up-title-and-button {
		margin: 30px 0px 40px 0px;
	}

	.join-the-newsletter {
		text-align: center;
    font-size: 22px;
    padding-bottom: 0px;
	}

	.join-the-newsletter input {
		font-size: 18px;
	}

	.join-us-section {
		padding-bottom: 80px;
	}

	.wpcf7-form .input,
	.wpcf7-form .textarea {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.mc-field-group input{
		font-size: 18px;

	}

	.contact-wrapper {
		font-size: 16px;
	}

}

@media (max-width: 700px) {

	.container {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}

	.site-header {
		padding-bottom: 20px;
	}

	.button {
		font-size: 18px;
		padding: 12px 10px 7px 10px;
	}

	.tagline, .coming-up-title-and-button h2 {
		font-size: 26px;
	}

	.contact-button {
		padding-left: 20px;
		padding-right: 20px;
		margin-right: 10px;
	}

	.event-wrapper {
		display: block;
		padding-bottom: 5px;
	}

	.event-image-wrapper {
		max-width: 100%;
	}

	.event-image-wrapper img {
		max-height: 70vh;
	}
	
	.event-thumbnail-loop {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
	-webkit-column-span: all;
	column-span: all;
	}

	.site-menu-home, .site-menu-contact, .site-menu-events {
		display: none;
	}

	.contact-wrapper {
		max-width: 100%;
	}

	.velvetyne {
		display: none;
	}

	.submit-send-button {
		padding-left: 30px;
		padding-right: 30px;
	}

	.newsletter-submit-button {
		font-size: 20px !important;
	}

}

@media (min-width: 700px) {
	.hamburger-menu {
		display: none;
	}
}

@media (max-width: 500px) {

	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	.site-header {
		padding-top: 30px;
		padding-bottom: 5px;
	}

	.logo-container {
		width: 40%;
	}

	.hero-section {
		font-size: 16px;
	}

	.event-title-date-wrapper {
		font-size: 16px;
	}

	.contact-wrapper-text {
		max-width: 100%;
		text-align: center;
	}
	
}